# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl
pip-wheel-metadata/

# Virtual environments
virtual/
env/
venv/
.venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints

# Logs
logs/
*.log

# Celery
celerybeat-schedule

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# IDE/other project configs
.spyproject
.ropeproject

*.csv